.navigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  background-color: #014421;
  height: 100vh;  
  transition: all 0.5s;
  overflow: hidden;
  z-index: 999;
}

.closeNavigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  background-color: #014421;
  height: 100vh;  
  transition: all 0.5s;
  overflow: hidden;
  z-index: 1000;
}

.navigation ul, 
.closeNavigation ul {
  width: 100%;
  padding: 0;
  padding-left: 10px;
  margin: 0;
}

.navigation ul li,
.closeNavigation ul li{
  position: relative;
  list-style-type: none;
  width: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-bottom: 10px;
}

.unActive:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  width: 90%;
}

.navigation ul li.darkActive,
.closeNavigation ul li.darkActive
{
  background-color: #000;
}

.navigation ul li.lightActive,
.closeNavigation ul li.lightActive
{
  background-color: #fff;
}

.navigation ul li:nth-child(1),
.closeNavigation ul li:nth-child(1){
  margin-bottom: 40px;

}

.navigation ul li a,
.closeNavigation ul li a  {
  width: 100%;
  position: relative;
  display: block;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.unActive:hover a{
  color: #fff;
}


.navigation ul li.lightActive a,
.closeNavigation ul li.lightActive a
{
 color: #014421;
}

.navigation ul li.darkActive a,
.closeNavigation ul li.darkActive a
{
 color: #fff;
}


.iconContainer{
  position: relative;
  display: block;
  min-width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.icon{
  font-size: 18px;
}

.title{
  position: relative;
  display: block;
  height: 50px;
  line-height: 55px;
  font-size: 16px;
  padding: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.navigation ul li.darkActive a::before,
.closeNavigation ul li.darkActive a::before
{
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #000;
  pointer-events: none;
}

.navigation ul li.darkActive a::after,
.closeNavigation ul li.darkActive a::after
{
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #000;
  pointer-events: none;
}

.navigation ul li.lightActive a::before,
.closeNavigation ul li.lightActive a::before
{
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #fff;
  pointer-events: none;
}

.navigation ul li.lightActive a::after,
.closeNavigation ul li.lightActive a::after
{
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px #fff;
  pointer-events: none;
}


.lightOverlay, .darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* backdrop-filter: blur(5px);  */
  /* background-color: rgba(255 255,255,0.6); */
}

@media (max-width: 600px) {
  
  .closeNavigation{
    width: 0px; 
    border-left: 0px;
  } 

.darkOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* backdrop-filter: blur(5px);  */
  background-color: rgba(0,0,0,0.9);
  z-index: 28;
}

.lightOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255,255,255,0.9);
  z-index: 28;
}
}







