.radio-container{
  margin-top: 20px;
}

.radio-label{
  color: #666666;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
}

input[type="radio"]{
  border: 0.1px solid #014421;
  cursor: pointer;
}

input[type="radio"]:checked{
  background-color: rgba(1, 68, 33, 0.8);
  border: #014421;
}

input[type="radio"]:hover{
  background-color: rgba(1, 68, 33, 0.8);
}

input[type="radio"]:focus {
  outline: none; 
  box-shadow: none; 
  border: none;
  box-shadow: 0 0 4px #014421;
}