.container{
  max-width: 350px;
  padding: 20px;
  box-shadow: 0 20px 35px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.heading{
  font-size: 20px;
  font-weight: 500;
  margin: 20px 5px;
  text-align: center;
  color: #000000B3;
}

.errorMessage{
  color: red;
  margin-top: 5px;
  font-size: 12px;
  font-family: "Quicksand", Arial, sans-serif;
}
